<!doctype html>
<html>
  <head>
      <link href="/static/styles/main.css" rel="stylesheet">
      <link href="/static/styles/custom.css" rel="stylesheet">
      <!-- <link href="/static/styles/joint.css" rel="stylesheet"> -->
      <link href="/static/styles/hover.css" rel="stylesheet">
  </head>
  <body>
    {% block requirejs %}
    {% endblock requirejs %}

    {% block fabric_modal %}
    {% endblock %}

    {% block rappid_modal %}
    {% endblock %}

    {% if user.is_authenticated %}

    {% else %}
        {% block register_modal %}
          <!-- Register Modal -->
          <!--  -->
          <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="registerModalLabel">SIGN UP</h4>
                </div>
                <form method="post" action=".">
                  {% csrf_token %}                  
                  <div class="modal-body">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-envelope"></i>
                        </span>
                        {{ user_creation_form.email }}                          
                      </div>
                      <BR>                    
                      <div>
                          {% for error in user_creation_form.email.errors %}
                          <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                      </div>
                      <p></p>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock"></i>
                        </span>
                        {{ user_creation_form.password1 }}
                      </div>
                      <BR>                    
                      <div>
                          {% for error in user_creation_form.password1.errors %}
                          <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                      </div>
                      <p></p>
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="fa fa-lock"></i>
                        </span>
                        {{ user_creation_form.password2 }}
                      </div>
                      <BR>
                      <div>
                          {% for error in user_creation_form.password2.errors %}
                          <div class="alert alert-danger" role="alert">{{ error }}</div>
                          {% endfor %}
                      </div>
                      <p></p>
                      <div>
                      {% if user_creation_form.non_field_errors %}
                      {% for error in user_creation_form.non_field_errors %}
                          <div class="alert alert-danger" role="alert">{{ error }}</div>
                      {% endfor %}
                      {% endif %}
                      </div>
                      <hr style="margin-bottom:5px !important; margin-top:5px !important; " />
                      <div class="page-header text-center">
                        <h4>Or authorize via social networks:</h4>
                      </div>
                      <div class="row">
                        <div class="col-md-3 text-center">
                          <a class="btn btn-default hvr-float" name="google-plus" href="{% url 'social:begin' backend='google-oauth2' %}">
                            <i class="fa fa-2x fa-google-plus"></i>
                          </a>
                        </div>
                        <div class="col-md-3 text-center">
                          <a class="btn btn-default hvr-float" name="facebook" href="{% url 'social:begin' backend='facebook' %}">
                            <i class="fa fa-2x fa-facebook"></i>
                          </a>
                        </div>
                        <div class="col-md-3 text-center">
                          <a class="btn btn-default hvr-float" name="twitter" href="{% url 'social:begin' backend='twitter' %}">
                            <i class="fa fa-2x fa-twitter"></i>
                          </a>
                        </div>
                        <div class="col-md-3 text-center">
                          <a class="btn btn-default hvr-float" name="vk" href="{% url 'social:begin' backend='vk-oauth2' %}">
                            <i class="fa fa-2x fa-vk"></i>
                          </a>
                        </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                    <input type="submit" class="btn btn-primary pull-left" name="Create account" value="SIGN UP" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          {% if user_creation_form.errors %}
          <script>
              $(function(){$('#registerModal').modal('show')});
          </script>
          {% endif %}
        {% endblock %}

        {% block login_modal %}
          <!-- Login Modal -->
          <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="loginModalLabel">LOG IN</h4>
                </div>
                <form method="post" action=".">
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-envelope"></i>
                          </span>
                          {{ auth_form.email }}                          
                        </div>
                        <BR>
                        <div>
                            {% for error in auth_form.email.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <p></p>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="fa fa-lock"></i>
                          </span>
                          {{ auth_form.password }}                          
                        </div>
                        <BR>
                        <div>
                            {% for error in auth_form.password.errors %}
                            <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                        </div>
                        <p></p>                        
                        <div>
                            {% if auth_form.non_field_errors %}
                            {% for error in auth_form.non_field_errors %}
                                <div class="alert alert-danger" role="alert">{{ error }}</div>
                            {% endfor %}
                            {% endif %}                    
                        </div>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <hr style="margin-bottom:5px !important; margin-top:5px !important; " />
                        <div class="page-header text-center">
                          <h4>Or authorize via social networks:</h4>
                        </div>
                        <div class="row">
                          <div class="col-md-3 text-center">
                            <a class="btn btn-default hvr-float" name="google-plus" href="{% url 'social:begin'   backend='google-oauth2' %}">
                              <i class="fa fa-2x fa-google-plus"></i>
                            </a>
                          </div>
                          <div class="col-md-3 text-center">
                            <a class="btn btn-default hvr-float" name="facebook" href="{% url 'social:begin'  backend='facebook' %}">
                              <i class="fa fa-2x fa-facebook"></i>
                            </a>
                          </div>
                          <div class="col-md-3 text-center">
                            <a class="btn btn-default hvr-float" name="twitter" href="{% url 'social:begin'   backend='twitter' %}">
                              <i class="fa fa-2x fa-twitter"></i>
                            </a>
                          </div>
                          <div class="col-md-3 text-center">
                            <a class="btn btn-default hvr-float" name="vk" href="{% url 'social:begin'  backend='vk-oauth2' %}">
                              <i class="fa fa-2x fa-vk"></i>
                            </a>
                          </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                      <input type="submit" class="btn btn-primary pull-left" name="Login" value="LOG IN" />
                      <button type="button" class="btn btn-default" data-dismiss="modal">CANCEL</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
          {% if auth_form.errors %}
          <script>
              $(function(){$('#loginModal').modal('show')});
          </script>
          {% endif %}
        {% endblock %}

    {% endif %}

    {% block topbar %}
    <div id="topbar" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img id="logo" height="40px" src="/static/images/PlotYourThought.gif"><span style="color: #cccccc; font-weight: 100;">PLOT</span> <b style="color: #fff; font-weight: 100;">YOUR</b> <span style="color: #cccccc; font-weight: 100;">THOUGHT</span></a>
          <!--<a class="navbar-brand" href="/">PlotYourThought</a>-->
        </div>
        <div class="collapse navbar-collapse" id="topbar-collapse">
          {% if user.is_authenticated %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="topbar_avatar" src="/img/{{ user.username }}/avatar" class="image-thumbnail" width="20" height="20"> <span class="caret"></span> {{ user.username }}</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="{% url 'profile' user.username %}">Profile</a></li>
                <li class="divider"></li>
                <li><a href="{% url 'profile' user.username %}">Messages<span class="badge">0</span></a></li>
              </ul>
            </li>
            <li>
              <form method="post" action="/logout/" class="navbar-form navbar-right">
                {% csrf_token %}
                <button class="btn btn-primary">
                  Выйти
                </button>
                <input type="hidden" name="next" value="{{ path }}" />
              </form>
            </li>
          </ul>
          {% else %}
          <!-- Button trigger modal -->
          <ul class="nav navbar-nav navbar-right">
            <li>
              <button class="btn btn-sm btn-default navbar-btn" data-toggle="modal" data-target="#registerModal">
                SIGN UP
              </button>
            </li>
            <li>
              <button class="btn btn-sm btn-success navbar-btn" data-toggle="modal" data-target="#loginModal">
                <i class="fa fa-sign-in"></i> LOG IN
              </button>
            </li>
          </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    {% endblock %}

    <div id="main" class="container">
      {% block content %}
      <div>
            <h1>Plot Your Thought</h1>
            <div class="row">
            <div class="col-md-8">
              <p class="lead">
                  You can create simple animated schemes here!
              </p>
            </div>
            
            <div class="row">
              <p class="lead col-md-6">
              <a href="#" data-toggle="modal" data-target="#registerModal">
                Присоединяйтесь!
              </a>
              </p>
            </div>
            <div class="row col-md-10">
            <em>Это временный лендинг альфа-версии. Дизайн и тексты сайта будут радикально переработаны.</em>
            </div>
      </div>
      {% endblock %}
    </div><!-- /.container -->

  </body>
</html>