{% extends "base.html" %}

{% block content %}
<div class="col-sm-8 blog-main">
	{% for post in posts %}
		<div class="blog-post">
			<h2 class="blog-post-title">{{ post.title }}</h2>
			<p class="blog-post-meta">
				{{ post.date }} by <a href="{% url 'profile' post.author.username %}">{{ post.author }}</a><br/>
				{{ post.cathegory.icon }}{{ post.cathegory.name}} Here should be a list of tags.
			</p>
		</div>
	{% endfor %}
</div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	<div class="sidebar-module">
		Here goes the damned advertisement.
	</div>
	<div class="sidebar-module">
		<h4>Recent questions on forum:</h4>
		<ol class="list-unstyled">
			{% for question in questions %}
				<li>{{question.cathegory.icon}}<a href="{% url 'forum' question.id %}">{{question.title}}</a></li>
			{% endfor %}
		</ol>
	</div>
	<div class="sidebar-module">
		<h4>Recent posts on blog:</h4>
		<ol class="list-unstyled">
			{% for post in posts %}
				<li>{{post.cathegory.icon}}<a href="{% url 'blog' post.id %}">{{post.title}}</a></li>
			{% endfor %}
		</ol>
	</div>
	<div class="sidebar-module">
		<h4>Recent articles in encyclopedia:</h4>
		<ol class="list-unstyled">
			{% for article in articles %}
				<li>{{article.cathegory.icon}}<a href="{% url 'encyclopedia' article.id %}">{{article.title}}</a></li>
			{% endfor %}
		</ol>		
	</div>
</div>
{% endblock %}