{% extends "base.html" %}

{% block content %}
    <div>
        <p class="header">E-mail has been sent.</p>
        <p> A letter with activation code has been sent to the specified e-mail.<br/>
        </p>
        <p>You can change your password and e-mail in your <a href="{% url 'account' username %}">account settings page</a>.
        </p>
    </div>
{% endblock %}