{% extends "base.html"%}

{% block requirejs %}
<script data-main="/static/scripts/index" src="/static/scripts/vendor/require.js">
</script>
{% endblock %}

{% block fabric_modal %}
    <div class="modal fade" id="fabricModal" tabindex="-1" role="dialog" aria-labelledby="fabricModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="registerModalLabel">Draw image here</h4>
          </div>
          <div class="modal-body">
            <!-- here should go the content of editor -->
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary pull-left" name="Create account" value="Save" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block rappid_modal %}
    <div class="modal fade" id="rappidModal" tabindex="-1" role="dialog" aria-labelledby="rappidModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              <h4 class="modal-title" id="registerModalLabel">Draw image here</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="toolbar-container col-lg-12">
                <button id="btn-undo" class="btn" data-tooltip="Undo"><i class="fa fa-undo"></i></button>
                <button id="btn-redo" class="btn" data-tooltip="Redo"><i class="fa fa-repeat"></i></button>
                <button id="btn-clear" class="btn" data-tooltip="Clear Paper"><i class="fa fa-trash"></i></button>
                <button id="btn-svg" class="btn" data-tooltip="Open as SVG in a New Window">open as SVG</button>
                <button id="btn-png" class="btn" data-tooltip="Open as PNG in a New Window">open as PNG</button>
                <button id="btn-print" class="btn" data-tooltip="Open a Print Dialog"><i class="fa fa-print"></i></button>
                <button id="btn-zoom-in" class="btn" data-tooltip="Zoom In"><i class="fa fa-search-plus"></i></button>
                <button id="btn-zoom-out" class="btn" data-tooltip="Zoom Out"><i class="fa fa-search-minus"></i></button>
                <div class="panel">
                  <span id="zoom-level">100</span>
                  <span>%</span>
                </div>
                <button id="btn-zoom-to-fit" class="btn" data-tooltip="Zoom To Fit"><i class="fa fa-expand"></i></button>
                <button id="btn-fullscreen" class="btn" data-tooltip="Toggle Fullscreen Mode"><i class="fa fa-arrows-alt"></i></button>
                <button id="btn-to-front" class="btn" data-tooltip="Bring Object to Front">to front</button>
                <button id="btn-to-back" class="btn" data-tooltip="Send Object to Back">to back</button>
                <button id="btn-layout" class="btn" data-tooltip="Auto-layout Graph">layout</button>
                <label data-tooltip="Change Grid Size">Grid size:</label>
                <input type="range" value="10" min="1" max="50" step="1" id="input-gridsize" style="display: inline-block">
                <output id="output-gridsize" style="display: inline-block">10</output>
                <label data-tooltip="Enable/Disable Snaplines">Snaplines:</label>
                <input type="checkbox" id="snapline-switch" checked="" style="display: inline-block;">
                <!-- Return Button -->
                <style>
                  .toolbar-container .btn-secondary {
                    background-color: #f1c40f;
                    padding: 12px 18px 13px;
                    line-height: 13px;
                    border: none;
                    color: white;
                    font-size: 18px;
                    text-shadow: none;
                    cursor: pointer;
                    border-radius: 5px;
                    display: block;
                    text-decoration: none;
                    float: right;
                    width: 70px;
                    position: absolute;
                    top: 0;
                    right: 1px;
                    font-family: "Source Sans Pro",sans-serif;
                  }
                </style>
              </div>
            </div>
            <div class="row">
              <div class="stencil-container col-lg-3">
                <label>Stencil</label>
                  <button class="btn-expand" title="Expand all">+</button>
                  <button class="btn-collapse" title="Collapse all">-</button>
              </div>
              <div class="paper-container col-lg-6"></div>
              <div class="inspector-container col-lg-3"></div>
            </div>
            <div class="row">
              <div class="statusbar-container col-lg-9">&nbsp;&nbsp;&nbsp;Copyright &copy; 2014 <a target="_blank" href="http://client.io">client IO</a>. All rights reserved. Part of the <b><a href="http://jointjs.com">JointJS</a> diagramming library</b>. <span class="rt-colab"></span></div>
              <div class="navigator-container col-lg-3"></div>
            </div>
          </div>
          <div class="modal-footer">
            <input type="submit" class="btn btn-primary pull-left" name="Create account" value="Save" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1>Create and share animated diagrams.</h1>
        <p class="lead">No learning - intuitive WYSIWIG editor! 100% free. Put animations on your website, share via social networks or save on disk. Discuss your ideas, using our blog, forum and encyclopedia.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button" data-toggle="modal" data-target="#fabricModal">Create animation now</a></p>
    </div>

    <div class="row">
        <div class="col-lg-3">
            <h2>Playground</h2>
            <p>See animations created by other users recently.</p>
        </div>
        <div class="col-lg-3">
            <h2>Blog</h2>
            <p>This is an assortment of articles on various topics, created by other users.</p>
            <!-- Create a list of recent blog posts here -->
        </div>
        <div class="col-lg-3">
            <h2>Forum</h2>
            <p>Ask your question that needs visual support on the forum.</p>
        </div>
        <div class="col-lg-3">
            <h2>Encyclopedia</h2>
            <p>Encyclopedia is a textbook that consists of small ideas, ordered as a tree-like structure.</p>
        </div>
    </div>
{% endblock %}